*{
  margin: 0px;
  padding: 0px;
}

.App {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    width: 100%;
    height: 100vh;
}

.searchBar{
  display:flex;
  justify-content: center;
}

.container{
  display: flex;
  /*width: 25%;*/
  justify-content: center;
}

.temperature{
  display: flex;
  justify-content: center;
  width: 25%;
}